@font-face {
   font-family: 'Migra-Extralight';
   font-display: swap;
   src: url('Migra-Extralight/font.ttf');
}
@font-face {
   font-family: 'Shree Devanagari 714';
   font-display: swap;
   src: url('Shree Devanagari 714/font.ttf');
}
