@font-face {
   font-family: 'Shree Devanagari 714';
   font-display: swap;
   src: url('file:///Users/cesarleytoargandona/Library/Application%20Support/Mobirise.com/Mobirise/projects/project-2021-07-09_232002/fonts/Shree%20Devanagari%20714/font.ttf');
}
