@font-face {
   font-family: 'Migra-Extralight';
   font-display: swap;
   src: url('file:///Users/cesarleytoargandona/Library/Application%20Support/Mobirise.com/Mobirise/projects/project-2021-07-09_232002/fonts/Migra-Extralight/font.ttf');
}
